.newGame {
    position: fixed;
    bottom: 16px;
    right: 16px;
}
.scores {
    overflow: auto;
    height: 100%;
}
.sidekick-loss {
    background-color: #E53935;
    color: white;
}
.bidder-loss {
    background-color: #B71C1C;
    color: white;
}
.sidekick-win {
    background-color: #43A047;
    color: white;
}
.bidder-win {
    background-color: #2E7D32;
    color: white;
}