.stats-player {
    width: 15px;
    display: inline-block;
    height: 15px;
    border-radius: 2px;
    margin-right: 4px;
}

.stats-header {
    display: fixed;
    top: 60;
    width: 100%;
    border-bottom: 1px solid #ccc;
}